@model CoverLetterReview.Data.Document

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Document</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Priority)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubmittedDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubmittedDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntendedJob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntendedJob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubmittedByUserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubmittedByUserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewCompleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewCompleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
